<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/src/css/b_main.css" />
    <title>Fazz | Clothes by Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="header">
    <header>
        <img src="/src/img/fazz.svg" />
        <!--
            <nav>
                <ul>
                    <li>
                        <a href="/join">Join</a>
                        <ul>
                            <li><a href="/publish">Publish</a></li>
                            <li><a href="/advertise">Advertise</a></li>
                        </ul>
                    </li>
                    <li><a href="/demo">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        -->
    </header>
    {{ content }}
</body>
</html>
